* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-size: 1rem;
  color: $main-color;
  background-image: url("../assets/img/bicycle.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
